/*  全局  */
.mb0{
    margin-bottom: 0px !important;
}
.has_dark .form-control{
    border-color: #097684;
    background-color: #040d1e;
    color: #fff;
    height: 28px;
    font-size: 12px;
}
.has_dark .form-control-feedback{
    color: #0a9dc3;
}

.checkbox label::before{
    background-color: #043d59;
    border: 1px solid #097684;
    width: 13px;
    height: 13px;
    margin-top: 2px;
}
.checkbox label::after {
    padding-top: 2px;
    color: #ffffff;
    width: 12px;
    height: 12px;
    margin-left: -22px;
}
/*  左侧  */
.left-area{
    width: 360px;
    height: 799px;
    background:url("../images/statIndexZj/keyPersonal_left_box.png") no-repeat center;
    position:fixed;
    left: 1.5vw;
    top: 100px;
    z-index: 10000;
}
.left-area .title{
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}
.left-area .content{
    padding: 25px 30px;
}

.left-area .content .checkbox-box .tit{
    font-size: 12px;
    width: 100%;
    text-align: left;
    padding: 15px 0;
}
.left-area .content .checkbox-box .ckbx .checkbox{
    width: 33%;
    float: left;
    margin-top: 0;
    font-size: 12px;
}

.date-box .tit{
    font-size: 12px;
    width: 100%;
    text-align: left;
    padding: 15px 0;
}
.date-box > div{
    float: left;
}
.date-box .timebox{
    width: 47%;
}
.btn-box button{
    width: 90px;
    height: 28px;
    text-align: center;
    background: #040d1e;
    color: #ffffff;
    border: 1px solid #097684;
    border-radius: 4px;
    margin-right: 6px;
    font-size: 12px;
}
.btn-box button:last-child{
    margin-right: 0;
}

.table-box{
    margin-top: 25px;
}
.table-box tr th{
    text-align: center;
    border-top: 1px solid #097684 !important;
    border-bottom: 1px solid #097684 !important;
    font-size: 12px;
}
.table-box tr td{
    font-size: 12px;
    color: #05B1C7;
    /*border-top: 1px solid #ddd;*/
    border-top: none !important;
}
.table-box tr td a{
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 2px;
    cursor: pointer;
}
.table-box tr td a:last-child{
    margin-right: 0;
}
.table-box tr td .dangan{
    width: 12px;
    height: 12px;
    background: url("../images/statIndexZj/zj_icon_01.png") no-repeat center;
    background-size: 100% 100%;
}
.table-box tr td .guiji{
    width: 12px;
    height: 12px;
    background: url("../images/statIndexZj/zj_icon_02.png") no-repeat center;
    background-size: 100% 100%;
}
.table-box tr td .dingwei{
    width: 10px;
    height: 12px;
    background: url("../images/statIndexZj/zj_icon_03.png") no-repeat center;
    background-size: 100% 100%;
}

ul li {
    list-style: none;
}

#timeline{
    position: fixed;
    left: 75%;
    bottom: 10%;
    width: 20%;
   /* height: 550px;*/
   /* border: 1px solid #eee;*/
    background: #0B1B41;
    z-index: 999;
    font-size: 16px;
}

#d_car{
    width: 100%;
    height: 80px;
    padding-left: 30px;
}

/*.track-rcol {
    width: 24%;
    z-index: 999;
    border: 1px solid #eee;
    background: #0B1B41;
}*/

.track-list {
    margin: 20px;
    padding-left: 5px;
    position: relative;
    overflow-y: scroll;
}

.track-list li {
    position: relative;
    padding: 9px 0 0 25px;
    line-height: 18px;
    border-left: 5px solid #027DA8;
    height: 75px;
    color: #FFFFFF;
}

/* 		.track-list li.first {
			color: red;
			padding-top: 0;
			border-left-color: #fff;
		} */

.track-list li .node-icon {
    position: absolute;
    left: -8px;
    top: 20%;
    width: 11px;
    height: 11px;
    background: url(../../../images/key_personal/tuoyuan1.png) no-repeat;
}

.track-list li .line_div{
    background-color: #027DA8;
    height: 60px;
}

.track-list li.first .node-icon {
    background-position: 0 -72px;
}

.track-list li .time {
    margin-right: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
}

.track-list li .txt {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.track-list li.first .time {
    margin-right: 20px;
}

.track-list li.first .txt {
    max-width: 600px;
}

.form-group{
    margin-bottom: 5px;
}
.form-control-feedback{
    width: 28px;
    height: 28px;
    line-height: 28px;
}